<div class="row">
    <div class="col-lg-2 col-md-6 col-4">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1593642702749-b7d2a804fbcf?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=580&q=80" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
                <p class="card-text">
                    CPU	Apple M1 8 nhân 8 luồng
                    RAM	16 GB LPDDR4
                    Ổ cứng	512 GB
                    Card đồ họa	Apple GPU 8 nhân
                    Màn hình	13.3" LED (2560 x 1600) IPS, 16:10, IPS LCD LED Backlit, True Tone, 99% sRGB
                </p>
                <a href="#" class="btn btn-primary">Mua Hàng</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-6 col-4">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1593642702749-b7d2a804fbcf?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=580&q=80" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
                <p class="card-text">
                    CPU	Apple M1 8 nhân 8 luồng
                    RAM	16 GB LPDDR4
                    Ổ cứng	512 GB
                    Card đồ họa	Apple GPU 8 nhân
                    Màn hình	13.3" LED (2560 x 1600) IPS, 16:10, IPS LCD LED Backlit, True Tone, 99% sRGB
                </p>
                <a href="#" class="btn btn-primary">Mua Hàng</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-6 col-4">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1593642702749-b7d2a804fbcf?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=580&q=80" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
                <p class="card-text">
                    CPU	Apple M1 8 nhân 8 luồng
                    RAM	16 GB LPDDR4
                    Ổ cứng	512 GB
                    Card đồ họa	Apple GPU 8 nhân
                    Màn hình	13.3" LED (2560 x 1600) IPS, 16:10, IPS LCD LED Backlit, True Tone, 99% sRGB
                </p>
                <a href="#" class="btn btn-primary">Mua Hàng</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-6">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1593642702749-b7d2a804fbcf?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=580&q=80" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
                <p class="card-text">
                    CPU	Apple M1 8 nhân 8 luồng
                    RAM	16 GB LPDDR4
                    Ổ cứng	512 GB
                    Card đồ họa	Apple GPU 8 nhân
                    Màn hình	13.3" LED (2560 x 1600) IPS, 16:10, IPS LCD LED Backlit, True Tone, 99% sRGB
                </p>
                <a href="#" class="btn btn-primary">Mua Hàng</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-6">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1593642702749-b7d2a804fbcf?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=580&q=80" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
                <p class="card-text">
                    CPU	Apple M1 8 nhân 8 luồng
                    RAM	16 GB LPDDR4
                    Ổ cứng	512 GB
                    Card đồ họa	Apple GPU 8 nhân
                    Màn hình	13.3" LED (2560 x 1600) IPS, 16:10, IPS LCD LED Backlit, True Tone, 99% sRGB
                </p>
                <a href="#" class="btn btn-primary">Mua Hàng</a>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-6">
        <div class="card">
            <img src="https://images.unsplash.com/photo-1593642702749-b7d2a804fbcf?ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=580&q=80" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Laptop</h5>
                <p class="card-text">
                    CPU	Apple M1 8 nhân 8 luồng
                    RAM	16 GB LPDDR4
                    Ổ cứng	512 GB
                    Card đồ họa	Apple GPU 8 nhân
                    Màn hình	13.3" LED (2560 x 1600) IPS, 16:10, IPS LCD LED Backlit, True Tone, 99% sRGB
                </p>
                <a href="#" class="btn btn-primary">Mua Hàng</a>
            </div>
        </div>
    </div>
</div>
